## Question 1

In [170]:
import numpy as np

In [171]:
np.__version__

'1.21.5'

## Question 2

In [172]:
import pandas as pd

In [173]:
df = pd.read_csv('data.csv')

In [174]:
df.shape[0]

11914

## Question 3

In [175]:
df['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

## Question 4

In [176]:
df[df['Make'] == 'Audi'].Model.value_counts().shape

(34,)

## Question 5

In [177]:
sum(df.isnull().sum(axis=0) > 0)

5

## Question 6

In [178]:
median_engine_cylinders = df['Engine Cylinders'].median()

In [179]:
mode_engine_cylinders = df['Engine Cylinders'].mode()[0]

In [180]:
engine_cyliders_filled_with_mode = df['Engine Cylinders'].fillna(mode_engine_cylinders)
engine_cyliders_filled_with_mode.isnull().sum()

0

In [181]:
new_median_engine_cylinders = engine_cyliders_filled_with_mode.median()
median_engine_cylinders == new_median_engine_cylinders

True

## Question 7

In [182]:
df_lotus = df[df['Make'] == 'Lotus']

In [183]:
columns = ['Engine HP', 'Engine Cylinders']
df_lotus_without_duplicates = df_lotus[columns]

In [184]:
df_lotus_without_duplicates = df_lotus_without_duplicates.drop_duplicates()

In [185]:
X = np.array(df_lotus_without_duplicates)

In [186]:
XTX = np.dot(X.T, X)

In [187]:
XTX_inv = np.linalg.inv(XTX)

In [188]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [189]:
w = np.dot(np.dot(XTX_inv, X.T), y)

In [191]:
w[0]

4.594944810094579