In [45]:
import pandas as pd
import numpy as np

## Question 1

In [4]:
pd.__version__

'2.0.3'

## Question 2

In [6]:
df = pd.read_csv('housing.csv')

In [10]:
len(df.columns)

10

## Question 3

In [13]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4

In [15]:
df.ocean_proximity.nunique()

5

## Question 5

In [19]:
df[df.ocean_proximity == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

## Question 6

In [31]:
avg_total_bedrooms = df['total_bedrooms'].mean()
avg_total_bedrooms

537.8705525375618

In [33]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(avg_total_bedrooms)

In [36]:
new_avg_total_bedrooms= df['total_bedrooms'].mean()

In [38]:
avg_total_bedrooms

537.8705525375618

## Question 7

In [54]:
columns = ['housing_median_age', 'total_rooms', 'total_bedrooms']
new_df = df.query("ocean_proximity == 'ISLAND'")[columns]
X = new_df.to_numpy()

In [62]:
XTX = np.dot(X.T, X)

In [63]:
XTX_inv = np.linalg.inv(XTX)

In [64]:
y = [950, 1300, 800, 1000, 1300]

In [65]:
w = np.dot(np.dot(XTX_inv, X.T), y)

In [67]:
w[-1]

5.6992294550655656